@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  color: #555;
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
}

h1 {
  padding: 3% 12%;
}

.calc-body {
  width: 300px;
  height: 375px;
  box-shadow: 0 0 25px 0 #aaa;
  margin-top: 100px;
}

.calc-screen {
  text-align: right;
  color: white;
  background-color: #858694;
  line-height: 100px;
  font-size: 2em;
  padding: 0 10px;
  right: 0;
  transform-origin: right;
}

.calc-buttons {
  width: 74px;
  height: 55px;
  flex-grow: 1;
  align-items: center;
  margin: 0 auto;
  line-height: 55px;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
  box-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.25);
}

.calc-buttons button {
  border-top: 1px solid #777;
  border-right: 1px solid #777;
}

.keyboard {
  display: flex;
  border: 1px solid #858694;
}

.key-digits {
  background: #e0e0e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.key-digits button {
  background: #e0e0e7;
}

.operators button {
  width: 75px;
  background:
    linear-gradient(
      to bottom,
      rgba(252, 156, 23, 1) 0%,
      rgba(247, 126, 27, 1) 100%
    );
}

.nav-items {
  list-style-type: none;
  overflow: hidden;
  background-color: #858694;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* .nav-items {
  padding-right: 50px;
} */

.nav-items li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.home-text {
  padding: 8% 12%;
  font-size: 18px;
  font-weight: 400;
}

.calculate {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: baseline;
  gap: 30px;
}

.calculate-text {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 900;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 1%;
  position: sticky;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.calculate-text p {
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #858694;
}
